<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Kelly+Slab|Noto+Sans|Roboto+Slab|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <section id="container">

        </section>
    </body>
</html>